<div class="assecor-headerbar">
  <img src="assets/star-wars-logo.jpg" height="100" priority>
  <div class="header-bar-buttons">
    <button mat-button routerLink="/home-page" class="pl-3 pr-3">Star Wars</button>
    <button mat-button routerLink="/movies" class="pl-3 pr-3">Filme</button>
    <button mat-button routerLink="/characters" class="pl-3 pr-3">Charaktere</button>
    <button mat-button routerLink="/planets" class="pl-3 pr-3">Planeten</button>
  </div>
  <div class="search-input">
    <input type="text">
    <i class="material-icons">search</i>
  </div>
</div>
<div class="assecor-headerbar-mobile">
  <img src="assets/star-wars-logo.jpg" height="60" priority>
  <div class="header-bar-buttons">
    <button mat-icon-button routerLink="/home-page">
      <span class="material-symbols-outlined">home</span>
    </button>
    <button mat-icon-button routerLink="/movies">
      <span class="material-symbols-outlined">movie_info</span>
    </button>
    <button mat-icon-button routerLink="/characters">
      <span class="material-symbols-outlined">person</span>
    </button>
    <button mat-icon-button routerLink="/planets">
      <span class="material-symbols-outlined">planet</span>
    </button>
  </div>
  <div class="search-input">
    <input type="text">
    <i class="material-icons">search</i>
  </div>
</div>