.assecor-headerbar {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 100;
}

.assecor-headerbar-mobile {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 50px;
  z-index: 100;
}

.header-bar-buttons {
  display: inline;
}

.search-input {
  display: inline;
}

.search-input i {
  position: relative;
  right: 30px;
  font-size: 22px;
  top: 5px;
}

.search-input input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  .assecor-headerbar {
    display: none;
  }

}

@media screen and (min-width: 1001px) {
  .assecor-headerbar-mobile {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .search-input {
    display: none;
  }

}

@media screen and (min-width: 701px) {
  .search-input-mobile {
    display: none;
  }
}
