<div class="assecor-header">Planeten</div>

<div class="row">
  <div *ngFor="let planet of planets" class="col-12 col-md-6 col-xl-4 item-wrapper">
    <div class="item">
      <div style="padding: 16px;">
        <div>
          <h2>{{ planet.properties.name }}</h2>
        </div>
        <div>{{ 'Terrain: ' + planet.properties.terrain }}</div>
        <div>{{ 'Population: ' + planet.properties.population }}</div>
        <button mat-button class="pl-0 mt-3" style="font-weight: 500;" [routerLink]="'/planets/' + planet.uid">Mehr Informationen</button>
      </div>
    </div>
  </div>
</div>